*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 10px;
    width: 5px;
}
.sidebar::-webkit-scrollbar-thumb{
    background: #090909;
}
::-webkit-scrollbar-thumb{
    background: rgb(159, 159, 159);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;   
}
.main-container{
    background: url(./background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7%;
    align-items: center;
    position: relative;
    background-color: #090909;
    height:80px;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
}

.text_color{
    color:white;
    display: flex;
    
    justify-content: center;
    font-weight:400;
    
}

.text a{
   height:1rem; 
   font-weight: 400;
   width: 100%;
   color: aqua;
}

.logo_img{
    background-image:url("amazon_logo.png");
    
}

.logo{
    background-image:url("amazon_logo.png");
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 0.6rem;
    color: black;
    background: #ffffff;
    padding: .4rem 1rem;
    border-radius: 13px;
    text-align: center;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header .navbar a:hover{
    color: black;
    background: #f8b56d;
    padding: .5rem 2rem;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#menu-bars{
    color: white;
    font-size: 2rem;
    display: none;
}
.navbar.active{
    top: 10%;
}
.background-text h2{
    text-align: center;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.background-text h2 span{
    color: #f8b56d;
}

   
    

.home-container{
    background: #f8b56d;
    padding: 2rem 7%;
    width: 100%;
    padding-top: 4rem;

}
.home-content{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.inner-content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.inner-content h3{
    font-size: 31px;
}
.inner-content h2{
    font-size: 38px;
}
.inner-content p{
    font-size: 1.6rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    text-transform: none;
}
.inner-content .booknow{
    padding: .9rem 2.5rem;
    color: #f8b56d;
    font-size: 1.7rem;
    background-color: black;
    border: none;
    border-radius: 17px;
}
.inner-content .booknow:hover{
    color: black;
    padding: 1.2rem 3rem;
    border: 1px solid white;
    background: white;
}
.form-heading{
    background: black;
    border-radius: 5px;
    padding: 1.8rem 0;
}
.form-heading h1{
    color: white;
}
.contact-form{
    width: 45rem;
    background: white;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 5px;
    margin: 0 auto;
}
.form-fields input{
    padding: 2rem;
    border: none;
    border-bottom: 1.5px solid black;
}
.contact-form a{
    background: black;
    width: 100%;
    display: inline-block;
    padding: 0.9rem 0;
    color: white;
    font-size: 1.7rem;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
}
.search-cabs{
    padding-top: 2rem;
}